<div class="row">
  <div class="col-sm-4 m-auto">
    <div class="container">
      <table class="table table-hover table-bordered table-striped">
        <tr>
          <th>Owner Name</th>
          <th>Email</th>
          <th>Model</th>
        </tr>
        <tr *ngFor="let influencer of influencers">
          <td class="bg-success">
            {{influencer.firstName}}
          </td>
          <td>
            {{influencer.lastName}}
          </td>
          <td>
            {{influencer.niche}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <app-single-influencer class="col-sm-8 m-auto"></app-single-influencer>
</div>
