<div class="col-md-12 animated bounceInLeft">
  <!--Card-->
  <mdb-card cascade="true">

    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="{{selectedInfluencer.imagePath}}"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->

    <mdb-card-body cascade="true" class="text-center">
      <!--Card content-->
      <h4 class="card-title">
        <strong>{{selectedInfluencer.firstName}}  {{selectedInfluencer.lastName}}</strong>
      </h4>
      <h5>{{selectedInfluencer.niche}}</h5>
      <mdb-card-text>

      </mdb-card-text>
      <mdb-card-text>
        {{selectedInfluencer.description}}
      </mdb-card-text>

      <!--Facebook-->
      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
        <mdb-icon fab icon="facebook-f"></mdb-icon>
      </a>
      <!--Twitter-->
      <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
        <mdb-icon fab icon="twitter"></mdb-icon>
      </a>
      <!--Google +-->
      <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
        <mdb-icon fab icon="dribbble"></mdb-icon>
      </a>

    </mdb-card-body>
    <!--/.Card content-->

    <div class="btn-group" role="group" aria-label="Basic example">
      <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect (click)="onNewMessage(selectedInfluencer)">Contacter</button>
      <button mdbBtn type="button" color="success" class="waves-light" mdbWavesEffect>Proposer une offre</button>
    </div>
  </mdb-card>
  <!--/.Card-->
</div>
