<div class="row">
  <div class="container m-2 ml-md-5">
    <div class="shadow card bg-light">
      <div class="card-header h4 text-dark text-center">
        <div class="row">
          <div class="col-6 text-left text-uppercase"> {{selectedMessage.title}}
            <br>
            <span class="text-secondary small text-lowercase font-italic">{{selectedMessage.createdDate | date:'dd/MM/yyyy' }} </span>
          </div>
          <div class="col-2 offset-4">
            <span class="pull-right">
        <img
          src="https://static.thenounproject.com/png/17241-200.png"
          alt="{{ selectedMessage.imagePath }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button type="button"
                class="btn btn-success">
          Répondre
        </button>
        <button type="button"
                class="btn btn-danger">
          Supprimer
        </button>
      </div>
      <div class="m-2 text-center">{{selectedMessage.text}}</div>
    </div>
  </div>

</div>

