<div class="col-md-12 animated bounceInLeft">
  <!--Card-->
  <mdb-card cascade="true">
    <mdb-card-body cascade="true" class="text-center">
      <!--Card content-->
      <h4 class="card-title">
        <strong>{{selectedMessage.receiverName}}</strong>
      </h4>
      <h5>{{selectedMessage.title}}</h5>
      <mdb-card-text>



      </mdb-card-text>
      <mdb-card-text>
        {{selectedMessage.text}}
      </mdb-card-text>

    </mdb-card-body>
    <!--/.Card content-->
    <div class="btn-group" role="group" aria-label="Basic example">
      <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Répondre</button>
      <button mdbBtn type="button" color="danger" class="waves-light" mdbWavesEffect>Supprimer</button>
    </div>
  </mdb-card>
  <!--/.Card-->
</div>


